
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .date-time-container {
    display: flex;
    align-items: center;
  }

  .date-container,
  .time-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  p {
    padding-right: 10px;
  }
